* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  color: #0F213A;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family: "Roboto", sans-serif;
}

.content {
  padding: 50px calc(50% - 690px);
}

/* Breadcrubs */

.nav__list {
  display: flex;

  .nav__item:last-of-type .nav__item-link {
    color: #666666;
  }
}

.nav__item:hover {
  text-decoration: underline;
}

.nav__item {
  font: 400 14px/1 var(--font-family);
}

.nav__item-slash {
  padding: 0 10px;
}

/* Content */

.content__title {
  font: 400 35px/1 var(--font-family);
  letter-spacing: 1px;
  margin-top: 35px;
}

.content__info {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

.content__text {
  font: 400 16px/26px var(--font-family);
  width: 900px;
}

.content__filter {
  font: 500 16px/1 var(--font-family);
  margin-top: auto;
}

.content__filter-list {
  text-transform: uppercase;
  margin-right: 40px;
  border: 0;
}

.content__filter-item {
  font: 500 16px/1 var(--font-family);
}

.content__filter-link {
  position: relative;
  text-transform: uppercase;

  &::after {
    content: "3";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background: #E9F0F1;
    border-radius: 50%;
    top: 0;
    right: -28px;
    font: 500 12px/1 var(--font-family);
  }
}

/* Product cards */

.product-card {
  margin: 155px auto 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 75px;
}

.product-card__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  position: relative;

  &::before {
    content: "-20%";
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #C2D8EF;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 400 14px/1 var(--font-family);
  }

  &:nth-child(2) {

    &::before {
      display: none;
    }

    & .product-card__item-btn {
      color: #666;
      border: 1px solid #666;

      &:hover {
        background: transparent;
        color: #666;
      }
    }
  }

  &:nth-child(3) {
    &::before {
      content: "";
      position: absolute;
      background: #AF1685 center/auto url(../img/present.svg) no-repeat;
      width: 48px;
      height: 48px;
      border-radius: 50%;
    }
  }

  &:nth-child(4) {
    &::before {
      display: none;
    }
  }
}

.product-card__add-favorite-svg {
  position: absolute;
  top: 25px;
  right: 25px;

  & path {
    color: transparent;
    transition: .5s ease;

    &:hover {
      color: rgb(252, 80, 80);
      stroke: rgb(252, 80, 80);
    }
  }

  
}

.product-card__item-img {
  max-width: 384px;
}

.product-card__item-descr {
  position: relative;
  font: 500 16px/26px var(--font-family);
  text-align: center;
  max-width: 346px;
  margin-top: 8px;
}

.product-card__item-new {
  position: absolute;
  top: -50%;
  left: calc(50% - 80px);
  text-transform: uppercase;
  font: 500 12px/20px var(--font-family);
  letter-spacing: 1px;
  padding: 2px 6px;
  background: #E9F0F1;
}

.product-card__item-best {
  position: absolute;
  top: -50%;
  right: calc(50% - 105px);
  text-transform: uppercase;
  font: 500 12px/20px var(--font-family);
  letter-spacing: 1px;
  padding: 2px 6px;
  background: #E9F0F1;
}

.product-card__item-rating {
  position: relative;
  margin-top: 14px;

  &::after {
    content: "(12)";
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    right: -25px;
    text-align: center;
    font: 400 12px/1 var(--font-family);
  }
}

.product-card__item-price {
  margin-top: 14px;
  font: 400 16px/1 var(--font-family);
}

.old__price {
  text-decoration: line-through;
  color: #666666;
}

.product-card__item-btn {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 248px;
  height: 56px;
  background: transparent;
  text-transform: uppercase;
  font: 500 12px/1 var(--font-family);
  letter-spacing: 1px;
  border: 1px solid #0F213A;
  transition: .5s ease;

  &:hover {
    background: #666;
    color: #fff;
  }
}

/* Adaptive max-width 1200px*/

@media (max-width: 1200px) {
  .content__info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;
  }

  .content__text {
    width: 100%;
  }

  .content__filter-list {
    align-self: flex-end;
    width: 50%;
    text-align: right;
    margin: 0;
  }
  
  .content__filter-link {
    display: block;
    align-self: flex-start;
    width: 50%;
    text-align: left;

    &::after {
      display: none;
    }
  }
  
  .product-card {
    justify-content: center;
  }

  .product-card__item {
    max-width: 220px;
  }
}