* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Neue Machina";
  src: url("../fonts/NeueMachina-Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina";
  src: url("../fonts/NeueMachina-Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina";
  src: url("../fonts/NeueMachina-Ultrabold.otf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-neue: "Neue Machina", sans-serif;
  --font-gilroy: "Gilroy", sans-serif;
  --main-title-color: #2F353F;
  --main-text-color: rgba(47, 53, 63, 0.7);
  --main-title-font: 400 40px/1 var(--font-neue);
  --main-text-font: 400 20px/1.5 var(--font-gilroy);
}

.header {
  background: center/cover url(../img/header-bg.png) no-repeat, rgba(47, 53, 63, 0.4);
}

.open {
  display: flex !important;
}

@media (max-width: 1024px) {

  .header {
    padding: 100px 40px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 116px 1fr 1fr;
  }

  .menu__function {
    align-self: center;
    justify-self: left;
  }

  .burger-menu,
  .header__contact-link {
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }

  .burger-menu__line {
    position: relative;
    width: 45px;
    height: 2px;
    background: #2E2BD0;
    border-radius: 2.5px;
    transition: all .5s;
    z-index: 2;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 45px;
      height: 2px;
      background: #2E2BD0;
      border-radius: 2.5px;
      transition: all 0.5s ease;
    }

    &::before {
      bottom: 12.5px;
    }

    &::after {
      top: 12.5px;
    }
  }

  .burger-menu.active .burger-menu__line {
    transform: rotate(45deg);
  }

  .burger-menu.active {
    z-index: 4;

    .burger-menu__line::before {
      bottom: 0;
      transform: rotate(90deg);
    }

    .burger-menu__line::after {
      top: 0;
      transform: rotate(90deg);
    }
  }

  .menu__list {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    background: #2E2BD0;
    z-index: 3;
  }

  .menu__link {
    color: #fff;
    font: 400 24px/1 var(--font-neue);
    text-transform: lowercase;
  }

  .header__logo-link {
    place-self: center;
  }

  .header__logo {
    width: 100%;
    max-width: 350px;
  }

  .header__contact-link {
    justify-self: end;
  }

  .header__title {
    position: relative;
    grid-column: span 3;
    max-width: 480px;
    align-self: center;
    font: 800 50px/1.3 var(--font-neue);
    color: #fff;
    z-index: 2;
    margin-top: 100px;

    &:before {
      content: "";
      position: absolute;
      width: 87%;
      height: 75%;
      background: #2E2BD0;
      left: 2px;
      top: 15%;
      z-index: -1;
    }
  }

  .header-link {
    grid-column: 2 / 3;
    place-self: center;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    background: #2E2BD0;
    font: 400 20px/1.3 var(--font-neue);
    color: #fff;
    text-transform: uppercase;
  }

  .content {
    padding: 150px 40px 0;
  }

  /* goals */

  .goals__title {
    font: var(--main-title-font);
    color: var(--main-title-color);
  }

  .goals__list {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .goals__item {
    display: flex;
    flex-direction: column;
    border: 2px solid #95989D;
    border-radius: 60px;
    padding: 50px;
    overflow: hidden;
    width: 100%;
    max-width: 570px;

    &:has(img) {
      padding: 0;
      border: none;
      border-radius: 60px;
    }
  }

  .goals__item-number {
    font: 400 37px/1 var(--font-neue);
    color: #2E2BD0;
  }

  .goals__item-subtitle {
    margin-top: 75px;
    font: 400 30px var(--font-neue);
    color: var(--main-title-color);
  }

  .goals__item-descr {
    margin-top: 25px;
    font: var(--main-text-font);
    color: var(--main-text-color);
  }

  .goals__item-img {
    max-width: 570px;
  }

  /* features */

  .features {
    padding: 125px 0 0;
  }

  .features__title {
    font: var(--main-title-font);
    color: var(--main-title-color);
  }

  .features__text {
    font: var(--main-text-font);
    color: var(--main-text-color);
    margin-top: 50px;
  }

  .features__slider {
    margin-top: 75px;
  }

  .features__slider-list {
    display: flex;
    justify-content: space-between;
    border-top: 4px solid rgba(47, 53, 63, 0.14);
  }

  .features__slider-item {
    font: 400 22px/1 var(--font-neue);
    color: rgba(47, 53, 63, 0.3);
    padding-top: 27px;
  }

  .features__active {
    position: relative;
    color: #2E2BD0;
    font: 400 22px/1 var(--font-neue);
    transition: all .5s;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 8px;
      background: #2E2BD0;
      border-radius: 4px;
      top: -6px;
      left: 0;
    }
  }

  .features__slider-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .features__slider-descr {
    margin-top: 25px;
    padding: 50px;
    width: 100%;
    max-width: 570px;
    border: 1px solid rgba(47, 53, 63, 0.5);
    border-radius: 60px;
  }

  .features__slider-subtitle {
    font: 400 30px/1 var(--font-neue);
    color: #2E2BD0;
  }

  .features__slider-text {
    font: var(--main-text-font);
    color: var(--main-text-color);
    margin-top: 20px;
  }

  .how-work {
    padding-top: 125px;
  }

  .how-work__title {
    font: var(--main-title-font);
    color: var(--main-title-color);
  }

  .how-work__text {
    font: var(--main-text-font);
    color: var(--main-title-color);
    margin-top: 50px;
  }

  .how-work__list {
    margin-top: 40px;
  }

  .how-work__item {
    padding: 50px;
    border: 2px solid rgba(47, 53, 63, 0.5);
    border-radius: 30px;
    transition: all .5s;

    &:hover {
      margin: 25px 0;
      background: center/cover url(../img/how-work-bg.png) rgba(46, 43, 208, 1);

      & .how-work__item-subtitle {
        color: #fff;
      }

      & .how-work__item-descr {
        color: rgba(255, 255, 255, 0.7);
      }

      &:last-child:hover {
        margin: 25px 0 0;
      }

      &:first-child:hover {
        margin: 0 0 25px;
      }
    }
  }

  .how-work__item-subtitle {
    font: 400 25px/1.5 var(--font-neue);
    color: var(--main-title-color);
  }

  .how-work__item-descr {
    font: 400 23px/1.5 var(--font-gilroy);
    color: rgba(47, 53, 63, 0.7);
    margin-top: 25px;
  }

  .how-work__btn {
    width: 160px;
    height: 160px;
    border: 2px solid var(--main-title-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font: 400 20px/1.3 var(--font-neue);
    color: var(--main-title-color);
    text-transform: uppercase;
    margin: 40px auto 0;
    transition: all .5s;

    &:hover {
      background: #2E2BD0;
      color: #fff;
    }
  }
}

/* media < 550px */

@media (max-width: 550px) {
  .features__slider-item {
    font: 400 15px/1 var(--font-neue);
    color: rgba(47, 53, 63, 0.3);
    padding-top: 15px;
  }

  .features__slider-subtitle {
    font-size: 25px;
    line-height: 1.3;
  }

  .features__slider-text {
    font-size: 15px;
  }
}

/* media < 320px */

@media (max-width: 320px) {
  .goals__title {
    font: 400 30px/1 var(--font-neue);
  }

  .goals__list {
    margin-top: 25px;
  }

  .goals__item {
    border-radius: 30px;
    padding: 25px;
    overflow: hidden;

    &:has(img) {
      padding: 0;
      border: none;
      border-radius: 30px;
    }

    .features__slider-descr {
      border-radius: 30px;
    }
  }

  .goals__item-number {
    font: 400 25px/1 var(--font-neue);
    color: #2E2BD0;
  }

  .goals__item-subtitle {
    margin-top: 35px;
    font: 400 25px var(--font-neue);
    color: var(--main-title-color);
  }

  .goals__item-descr {
    margin-top: 25px;
    font: 400 15px/1.5 var(--font-gilroy);
    color: var(--main-text-color);
  }
}

/* media 250px-450px */
@media (min-width: 250px) and (max-width: 450px) {

  .header {
    padding: 10px 10px 0;
  }

  .burger-menu,
  .header__contact-link {
    width: 50px;
    height: 50px;
    border-radius: 12px;
  }

  .burger-menu__line {
    position: relative;
    width: 23px;
    height: 1px;
    background: #2E2BD0;
    border-radius: 2.5px;
    transition: all .5s;
    z-index: 2;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 23px;
      height: 1px;
      background: #2E2BD0;
      border-radius: 2.5px;
      transition: all 0.5s ease;
    }

    &::before {
      bottom: 6px;
    }

    &::after {
      top: 6px;
    }
  }

  .header__title {
    font: 800 40px / 1.3 var(--font-neue);
  }

  .header__contact-icon {
    width: 30px;
    height: 30px;
  }

  .goals {
    padding: 50px 10px 0;
  }

  .features__slider-item {
    font: 400 10px/1 var(--font-neue);
    color: rgba(47, 53, 63, 0.3);
    padding-top: 15px;
  }

  .how-work__item {
    padding: 20px;
  }

  .how-work__item-subtitle {
    font: 400 18px/1.5 var(--font-neue);
    color: var(--main-title-color);
  }

  .how-work__item-descr {
    font: 400 12px/1.5 var(--font-gilroy);
    color: rgba(47, 53, 63, 0.7);
    margin-top: 25px;
  }
}

@media (min-width: 600px) and (max-width: 1023px) {

  .burger-menu,
  .header__contact-link {
    width: 116px;
    height: 116px;
  }
}

/* @media (min-width: 1024px) {
  .burger-menu {
    display: none;
  }

  .menu__list {
    display: flex;
    gap: 120px;
  }
} */